<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
</head>
<h1>{{ title }}</h1>
<p>
    Welcome to {{ title }}
</p>


<div class="container">
    <!--Filter notes list by member name-->
    <form action="/" method="post">
        <div class="row clearfix">
            <div class="col-md-4 column">
                <select id="memberName" name="memberName" class="form-control">
                    <option value="none">(Show All Members)</option>
                    <option value="Mark">Mark</option>
                    <option value="David">David</option>
                    <option value="John">John</option>
                    <option value="Mary">Mary</option>
                    <option value="Bob">Bob</option>
                </select>
            </div>
            <div class="col-md-8 column">
                <!-- Button -->
                <button id="btnFilterNotes" name="btnFilterNotes" class="btn btn-primary" type="submit">Filter
                    Notes...
                </button>
            </div>
        </div>
    </form>
</div>
<br/>

<div class="container">
    <div class="col-md-12 column list-group">
        {% for note in notes %}
        <hr/>
        <div class="list-group-item">
            <div>
                Member : <em><strong>{{note.memberName}}</strong></em>
            </div>
            <div>
                Project : <em><strong>{{note.project}}</strong></em>
            </div>
            <div>
                workYesterday : <em><strong>{{note.workYesterday}}</strong></em>
            </div>
            <div>
                workToday : <em><strong>{{note.workToday}}</strong></em>
            </div>
            <div>
                impediment : <em><strong>{{note.impediment}}</strong></em>
            </div>

            <div>
                Created on : <em><strong>{{note.createOn}}</strong></em>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>